/* ----------------------------------------------------------------------------
 * Global Text Formatting
 * ------------------------------------------------------------------------- */
body, html {
  font-weight: $regular;
  color: $brand-second;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: $titles-color;
  font-family: 'Montserrat';
}

h1 {
  font-weight: $bolder;
  @media (max-width: 320px) {
    font-size: 2rem;
  }
}

h2, h3 {
  font-weight: $bold;
}

h4 {
  color: $off-blue;
  font-weight: $bold;

}

p {
  color: $off-blue;
  font-family: 'Roboto';
  font-weight: $regular;
  @media (max-width: 320px) {
    word-break: break-word;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

//dots
.dots {
  height: 1.65rem;
}

.dots span span {
  background-color: $brand-primary;
  border-radius: 999px;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 11px;
  margin-right: 7.5px;
}


