/* ----------------------------------------------------------------------------
 * Mobile Navigation
 * ------------------------------------------------------------------------- */

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  z-index: 1; /* Make sure the z-index is lower than the .page-container */
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  overflow: hidden;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: $brand-primary;
    li {
      padding: 0;
      margin: 0;
      .active {
        background: darken($brand-primary, 10%);
        color: darken($lightgrey, 10%);
      }
      a {
        padding: 25px;
        display: block;
        color: $w;
        text-decoration: none;
        &.active {
          background: darken($brand-primary, 10%);
          color: darken($lightgrey, 10%);
        }

      }
    }
  }
}

